/* GLOBAL STYLES */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-size: 32px;
}
.root {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.typing-container {
  font-family: monospace;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.typed-text {
  flex: 1;
  overflow-x: hidden;
  text-align: end;
}

.typewriter {
  height: 1rem;
  width: 1px;
  margin: 0 2px;
  border-right: 0.15em solid orange; /* The typwriter cursor */
  animation: blink-caret 0.5s step-end infinite;
}

.incoming-text {
  flex: 1;
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
